<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SHOW</title>
</head>
<body>
  <h1>SHOW</h1>
  <table>
    <thead>
      <th>Airline</th>
      <th>FlightNo</th>
      <th>Depart</th>
      <th>Airport</th>
    </thead>
    <tbody>
        <% flights.forEach(function(f){ %>
        <td><%= f.airline %></td>
        <td><%= f.flightNo %></td>  
        <td><%= f.depart %></td>   
        <td><%= f.airport %></td>   
        <% }); %>   
    </tbody>
  </table>

  <form action="/show" method="post">
    <label>Arrives 
      <input name="flightNo" type="number"> 
    </label>
    <label>Airline:
      <select name="airline">
        <option value="AUS">American</option>
        <option value="DAL">Southwest</option>
        <option value="LAX">United</option>
      </select>
    </label>
    <label>Departure: 
      <input type="Date" name="departs"> 
    </label>
    <label> Destination:
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="DAL">DAL</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        <option value="SEA">SEA</option>
      </select>
    </label>
    <input type="submit" value="Add">
  </form> 
  <a href="/flights/new">Add Flights</a>
</body>
</html>